<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/style.css?{{timestamp}}">
    
    <title>Signature Element</title>

    <script>
        const products_in_stock = {{{products_in_stock_string}}}
    </script>
</head>
<body>
    <div class="wrapper">
        <div id="preloader" class="{{#if preloader.hide}}display_none{{/if}}" data-images="{{preloader.product.preloader_image_pairs}}">
            <div id="new-item">{{preloader.product.name}}</div>
            <div class="countdown" data-expected-time="{{preloader.product.date}}"></div>
        </div>
        <header>
            <div class="menu">
                <a href="/"><img class="logotype" src="/logotype.svg" alt=""></a>
                <div class="rotating-icon">
                    <div id="cart">
                        <img src="/cart.svg" alt="">
                        <div id="counter">0</div>
                    </div>
                    <div id="about">
                        <span>info</span>
                    </div>
                </div>
            </div>
            <div class="bag">
                <div class="about-wrapper">
                    <div class="h1">About 關於</div>
                    <p class="studio-info">
                    Signature Element is a state of mind celebrating occult, chaotic, wacky and quirky human origins. SE researches link between extraterrestrial and primal and constantly tries to find out who we are and how do we get here.
                    </p>
                    <p class="contacts">
                        <a href="mailto:hi@se.world">hi@se.world</a><br>
                        <a href="shipping-and-returns">Shipping & Returns</a> <span class="color_lightgray">&</span> <a target="_blanc" href="/policy">Terms & Policy.</a>
                    </p>
                    {{!-- <p><span class="color_lightgray">Web-design by</span> <a href='http://vaganmanukian.com/'>Vagan Manukian</a></p> --}}
                </div>
                <div id="empty-bag">Nothing in the bag yet</div>
                <div class="bag-items">
                    <div id="order-list">
                    </div>
                    <div class="input-wrapper">
                        <a href="checkout" id="checkout" class="action-line">
                            <div>Total</div>
                            <div id="total"></div>
                            <button id="buy" class="checkout-button">BUY</button>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <div class="grid-container">
            {{#if preloader.product.show}}
            <div class="grid-item" id='new-element'>
                <img src="/alien.svg" alt="">
                <div class="bubble">
                    <div class="item-name">{{preloader.product.name}}</div>
                    <div class="countdown" data-countdown={{preloader.product.name}}></div>
                    <svg class="triangle" viewBox="0 0 72 73" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path vector-effect="non-scaling-stroke" d="M70.7928932,1.47534962 L3.11398865,69.1542542 L47.6661307,1.47534962 L70.7928932,1.47534962 Z" id="Path-3" stroke="#B7AFA6" fill="#FFFFFF"></path>
                        </g>
                    </svg>
                </div>
            </div>
            {{/if}}
            {{#each products_in_stock}}
            <a href="/{{this.seo_name}}" class="grid-item">
                <img data-src="{{this.pairs.main_pair.[800]}}" width="242" height="229">
                <div class="bubble">
                    <svg class="triangle" viewBox="0 0 72 73" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path vector-effect="non-scaling-stroke" d="M70.7928932,1.47534962 L3.11398865,69.1542542 L47.6661307,1.47534962 L70.7928932,1.47534962 Z" id="Path-3" stroke="#B7AFA6" fill="#FFFFFF"></path>
                        </g>
                    </svg>
                    <div class="item-name">
                        {{this.name}}
                    </div>
                    <div class="price">
                        {{this.price}}
                    </div>
                </div>
            </a>
            {{/each}}
            {{#if show_archive}}
            <div class="grid-item archive lazyload" style="opacity: 1;">
                <span class="js-archive-closer"></span>Archive 檔案
            </div>
            {{/if}}
            {{#each products_out_of_stock}}
            <a href="/{{this.seo_name}}" class="grid-item display_none">
                <img data-src="{{this.pairs.main_pair.[800]}}" width="242" height="229">
                {{#if this.restock}}
                <div class="bubble" style="opacity: 1">
                {{else}}
                <div class="bubble">
                {{/if}}
                    <svg class="triangle" viewBox="0 0 72 73" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path vector-effect="non-scaling-stroke" d="M70.7928932,1.47534962 L3.11398865,69.1542542 L47.6661307,1.47534962 L70.7928932,1.47534962 Z" id="Path-3" stroke="#B7AFA6" fill="#FFFFFF"></path>
                        </g>
                    </svg>
                    <div class="item-name">
                        {{this.name}}
                    </div>
                    <div class="price">
                        {{#if this.restock}}
                        Restock in <span data-restock="{{this.restock}}" data-restock-time="{{this.restock_time}}" class="js-restock-timer"></span>
                        {{else}}
                        SOLD OUT
                        {{/if}}
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>

    <script src="/scripts/jquery-3.6.0.min.js"></script>
    {{#if preloader.hide}}
    {{else}}
    <script src="/p5.min.js"></script>
    <script src="/p5.dom.min.js"></script>
    {{/if}}
    <script src="/script.js?{{timestamp}}"></script>
    <script src="/scripts/ajax.js?{{timestamp}}"></script>
    <script src="/scripts/script.js?{{timestamp}}"></script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(86423836, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true
    });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/86423836" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SY9M72WV3T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-SY9M72WV3T');
    </script>
</body>
</html>