<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/style.css?{{timestamp}}">
    <title>Signature Element</title>

    <script>
        const products_in_stock = {{{products_in_stock_string}}}
    </script>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <script src="/scripts/ajax.js?{{timestamp}}"></script>
    <script src="/scripts/script.js?{{timestamp}}"></script>

    <link rel="stylesheet" href="css/header-fixed.css?{{timestamp}}">

    <!-- Meta Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '666329731730704');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=666329731730704&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
</head>
<body>
    <header>
        <div class="menu">
            <a href="/"><img class="logotype" src="/logotype.svg" alt=""></a>
            <div class="rotating-icon">
                <div id="cart">
                    <img src="/cart.svg" alt="">
                    <div id="counter">0</div>
                </div>
                <div id="about">
                    <span>info</span>
                </div>
            </div>
        </div>
        <div class="bag">
            <div class="about-wrapper">
                <div class="h1">About 關於</div>
                <p class="studio-info">
                Signature Element is a state of mind celebrating occult, chaotic, wacky and quirky human origins. SE researches link between extraterrestrial and primal and constantly tries to find out who we are and how do we get here.
                </p>
                <p class="contacts">
                    <a href="mailto:hi@se.world">hi@se.world</a><br>
                    <a href="shipping-and-returns">Shipping & Returns</a> <span class="color_lightgray">&</span> <a target="_blanc" href="/policy">Terms & Policy.</a>
                </p>
                {{!-- <p>Design by <a href='http://vaganmanukian.com/'>vaganmanukian.com</a></p> --}}
            </div>
            <div id="empty-bag">Nothing in the bag yet</div>
            <div class="bag-items">
                <div id="order-list">
                </div>
                <div class="input-wrapper">
                    <a href="checkout" id="checkout" class="action-line">
                        <div>Total</div>
                        <div id="total"></div>
                        <button id="buy" class="checkout-button">BUY</button>
                    </a>
                </div>
            </div>
        </div>
    </header>
    
    <div class="grid-container">
        <div class="shipping-and-returns">
            <div class="shipping-and-returns__head">
                <h1>Shipping 運輸</h1><br>
                <div class="section-1">DHL Express®</div>
                <div class="section-2 margin-top_3px">$15 for all international shipping</div>

                <div class="section-3 color_gainsboro margin-top_24px">Free shipping for orders over $190</div>

                <div class="section-4">North America | South America | Europe <span class="color_gainsboro">2-4 days</span></div>
                <div class="section-5">Africa | Middle East | Asia | Australia <span class="color_gainsboro">4-8 days</span></div>
            </div>

            <div class="shipping-and-returns__body margin-top_24px">
                <div class="section-8 text_uppercase">ADDITIONAL SHIPPING INFO:</div>
                <div class="section-9 margin-top_3px">We use DHL® Express service for deliveries to the rest of the world.</div>

                <div class="section-10 margin-top_25px">Next day after the purchase you will receive a tracking number; DHL Express® courier will contact you in advance about the delivery.</div>

                <div class="section-11 margin-top_24px">Your order will be shipped via DDU (Delivery Duty Unpaid) service and you may be required to pay duties and taxes on your purchase when it arrives in the destination country, except for the USA*.</div>

                <div class="section-11 margin-top_24px">*All USA orders are delivered from a local warehouse in CA.</div>
                
                <div class="section-11 margin-top_24px">The average tax for most countries varies around 15% (from the order total). Duty payment is quick and easy through our partner DHL® Express, you will automatically receive a link with all the instructions, it usually takes not more than 5 min to complete.</div>
            </div>

            <div class="shipping-and-returns__footer">
                <div class="section-12">No Returns / No Exchanges</div>
            </div>
        </div>
    </div>
    
    <script src="/script.js?{{timestamp}}"></script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(86423836, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true
    });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/86423836" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SY9M72WV3T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-SY9M72WV3T');
    </script>
</body>
</html>